#emoticon-row {
  height: 5%;

  .emoticons-div {
    background: #5cb85c;
    margin: 5px 0 0 15px;
    border: 1px solid #423c2c;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 5px;
    width: auto;
    display: inline-block;
  }

  #roll {
    display: inline-block;

    .emoticon-text {
      max-width: 25px;
      max-height: 25px;
    }
  }

  .emoticon-img {
    width: 16px;
    height: 16px;
    margin-right: 2px;

    &:hover {
      background: #1E69DE;
    }
  }
}